<a href="https://colab.research.google.com/github/falcounited/Python-Bazsic/blob/main/Copy_of_Python_basics_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
X=10

In [ ]:
x=10
y=20

In [ ]:
print (x+y)

30

In [ ]:
x=10
y=20

In [ ]:
print (x-y)

-10

In [ ]:
x="Joseph mg"

In [ ]:
print (x)

Joseph mg

In [ ]:
x=10

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
x=10.5

In [ ]:
print( type(x))

<class 'float'>

In [ ]:
x="Joseph M G"

In [ ]:
print(type(x))

<class 'str'>

In [ ]:
x="Joseph"

In [ ]:
y="MG"

In [ ]:
print (x+" "+y)

Joseph MG

In [ ]:
w="India"

In [ ]:
x="is"

In [ ]:
y="my"

In [ ]:
z="country"

In [ ]:
print(w+" "+x+" "+y+" "+z)

India is my country

In [ ]:
x="10"

In [ ]:
Y="20"

In [ ]:
print (type(x))

<class 'int'>

In [ ]:
X="10"

In [ ]:
Y="20"

In [ ]:
print (X+Y)
print(type(x))

1020
<class 'int'>

In [ ]:
x=input()

43

In [ ]:
print ( "value of x is",x)

value of x is 43

In [ ]:
x=input ()

"Joseph"

In [ ]:
print (type (x))

<class 'str'>

In [ ]:
x=int(input("Enter a number"))

Enter a number344

In [ ]:
print (type(x))

<class 'int'>

In [1]:
x=int(input("Enter a mark"))
if x <50 :
    print ("fail")

Enter a mark34
fail

In [ ]:
x=int(input( "Enter a mark"))
if  x<50 :
     print ("fail")

Enter a mark46
fail

In [ ]:
x=int(input("Enter a mark"))
if  x >50 :
     print ("pass")
if  x <50 :
     print ("fail")

Enter a mark56
pass

In [ ]:
x=int(input("Enter a salary "))
if x >25000 :
    print ("taxable")
if x <250000 :
     print (" non taxable")

Enter a salary 256000
taxable

In [ ]:
x=int(input("Enter a taxable 10%))